$blue1: #1DA2FF;
$blue: #5E92F9;
$blue2: #4388D6;
$blue3: #4D7FE2;
$blue4: #273559;
$blue5: #161F35;

$B1: #DEE2E3;
$B2: #B9D4DF;
$B3: #A6CCD5;
$B4: #81C5D7;
$B5: #3A8FB0;
$B6: #2F79A6;
$B7: #235578;
$B8: #192E46;
$B9: #132F57;
$B10: #0F1934;
$B11: #03121F;

$Bli1: #2F405D;
$Bl12: #CBE2EF;
$Bl13: #39BCEC;
$Bl14: #5584B1;
$Bl15: #526FE9;
$Bl16: #515FE2;
$Bl17: #5D58E8;

// Bisa swipe jika datang telat 